# ------------------------------
# Maven
# ------------------------------
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# ------------------------------
# Spring Boot
# ------------------------------
# Logs
*.log

# Local environment configs
application-*.yml
application-*.yaml
application-*.properties

# ------------------------------
# IntelliJ / Eclipse / VSCode (if you use them)
# ------------------------------
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
bin/
.vscode/

# ------------------------------
# OS-specific
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Vim
# ------------------------------
*.swp
*.swo
*.swn
*.swm
*~
*.un~
Session.vim


# environment file
.env

# build files
out/
build/
