<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <link th:href="@{styles/index.css}" rel="stylesheet" />
    <title>Home</title>
  </head>

  <body>
    <div class="grid-container">
      <!-- side bar -->
      <div class="sidebar">
        <span class="sidebar-header"> Manage </span>

        <div class="nav-btn-group">
          <button class="nav-btn" id="users-view">Users</button>
          <button class="nav-btn" id="projects-view">Projects</button>
        </div>
      </div>

      <!-- main section -->
      <div class="main-section">
        <!-- top bar -->
        <div class="top-bar">
          <span class="hero-header" id="waguri-status"> waguri </span>

          <!-- add person btn -->
          <button id="add-person-btn" popovertarget="add-person-popover">
            <img th:src="@{/icons/person_add.svg}" id="add-person-btn-icon" />
            <span>add</span>
          </button>

          <!-- add person modal -->
          <div popover id="add-person-popover">
            <form
              action="#"
              th:action="@{/user/create}"
              th:object="${primary_form_dto}"
              method="post"
            >
              <div class="form-group">
                <span class="label"> First name </span>
                <input type="text" th:field="*{FirstName}" />
              </div>

              <div class="form-group">
                <span class="label"> Last name </span>
                <input type="text" th:field="*{LastName}" />
              </div>

              <div class="form-group">
                <span class="label"> Email id </span>
                <input th:field="*{Email}" type="text" />
              </div>

              <div class="form-group">
                <span class="label"> Password </span>
                <input th:field="*{Password}" type="password" />
              </div>

              <div class="form-group">
                <span class="label"> Project id </span>
                <input th:field="*{ProjectId}" type="text" />
              </div>

              <button type="submit">add user</button>
            </form>
          </div>

          <!-- add project btn -->
          <button id="add-project-btn" popovertarget="add-project-popover">
            add project
          </button>

          <!-- add project modal -->
          <div popover id="add-project-popover">
            <form
              action="#"
              th:action="@{/project/create}"
              th:object="${project_form_dto}"
              method="post"
            >
              <div class="form-group">
                <span class="label"> Project id </span>
                <input type="text" th:field="*{projectId}" />
              </div>

              <div class="form-group">
                <span class="label"> Api URL </span>
                <input type="text" th:field="*{apiUrl}" />
              </div>

              <div class="form-group">
                <span class="label"> Project URL </span>
                <input th:field="*{projectUrl}" type="text" />
              </div>

              <button type="submit">add project</button>
            </form>
          </div>
        </div>

        <!-- web view -->
        <iframe th:src="@{/user/view}" id="main-view"></iframe>

        <!-- status view -->
        <div class="error-container">
          <div class="error-tab-container">
            <span class="error-header"> message </span>
            <button
              class="clear-error-btn"
              th:onclick="|window.location.href='@{/message/clear}'|"
            >
              clear
            </button>
          </div>

          <span th:text="${message}" class="error-message"></span>
        </div>
      </div>
    </div>
  </body>

  <script>
    const waguriStatus = "[[${waguri_status}]]";

    if (waguriStatus == "live")
      document.getElementById("waguri-status").style.color = "green";
  </script>

  <script type="text/javascript" th:src="@{js/index.js}"></script>
</html>
