<!doctype html>
<html xmlns:th="https://www/thymeleaf.org">
  <head>
    <style>
      .project-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .row-group {
        display: flex;
        flex-direction: row;
        gap: 100px;

        padding: 10px 5px;
      }
    </style>
  </head>
  <body>
    <div th:each="project : ${project_list}" class="project-container">
      <div class="row-group">
        <span th:text="${project.ProjectId}" class="id-text"></span>
        <span th:text="${project.Url}" class="url-text"></span>
        <span th:text="${project.ApiUrl}" class="url-text"></span>
      </div>
    </div>
  </body>
</html>
