<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error fetching users</title>
    <link th:href="@{/styles/users.css}" rel="stylesheet" />
    <style>
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            font-family: Poppins-Light;
            font-size: 2rem;
            color: grey;
        }
    </style>
</head>

<body>
    <span>
        Soo empty ...
    </span>
</body>

</html>