@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-Light';
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url(../fonts/Poppins-Thin.ttf);
}

:root {

    --light-turqoise: #87ceeb;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    user-select: none;
    letter-spacing: 1.5px;
}

body {

    font-family: Poppins-Bold;
    background-color: #efefef;
    min-width: 1000px;
}

.grid-container {

    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1fr;

    min-height: 100vh;
}

.sidebar {

    background-color: #f8f8f8;
    padding: 40px 30px 5px 30px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    box-shadow: rgba(0, 0, 0, .1) 1px 1px 10px 1px;
}

.sidebar-header {

    font-family: Poppins;
    font-size: 16px;
}

.nav-btn-group {

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav-btn {

    width: 100%;
    padding: 10px 0px;
    padding-left: 20px;
    background-color: white;

    border: none;
    border-radius: 5px;

    text-align: start;
    font-size: 12px;
    font-family: Poppins-Light;

    transition-duration: .2s;
}

.nav-btn-active {

    background-color: var(--light-turqoise);
}

.nav-btn:focus,
.nav-btn:hover {

    transition-duration: .2s;

    outline: none;
    background-color: var(--light-turqoise);
    color: white;
}

.main-section {

    padding: 20px 40px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 2fr 1fr;
}

.hero-header {

    color: lightcoral;
    font-size: 40px;
    font-family: Poppins-Light;
}

.form-modal {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type='text'] {
    border-radius: 4px;
    outline: none;
    border: none;

    padding: 5px 0px;
    max-width: fit-content;
}

input[type='submit'] {
    background-color: black;
    color: whitesmoke;

    font-family: Poppins;

    border: none;
    border-radius: 4px;

    padding: 10px 0px;

    width: 100%;

    transition-duration: .2s;
}


input[type='submit']:hover {
    background-color: white;
    color: black;

    transition-duration: .2s;
    cursor: pointer;
}

.error-container {
    grid-row: 3;
    grid-column: 1;

    background-color: #f8f8f8;
    border-radius: 8px;

    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    box-shadow: rgba(0, 0, 0, .1) 1px 1px 10px 1px;
}

.error-header {
    font-size: 16px;
    font-family: Poppins-Light;
    color: black;
}

.error-message {
    font-size: 12px;
    font-family: Poppins-Light;
    color: lightcoral;
    line-height: 2;
}

.error-tab-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clear-error-btn {
    background-color: transparent;
    border: none;
    color: whitesmoke;

    font-family: Poppins;
    font-size: 10px;
}

.clear-error-btn:hover {
    color: red;
    cursor: pointer;
}