@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Light";
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins-Thin";
  src: url(../fonts/Poppins-Thin.ttf);
}

:root {
  --light-turqoise: #87ceeb;
  --special-grey: #efefef;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  user-select: none;
  letter-spacing: 1.5px;
}

body {
  font-family: Poppins-Bold;
  background-color: var(--special-grey);
  min-width: 1000px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: 1fr;

  min-height: 100vh;
}

.sidebar {
  background-color: #f8f8f8;
  padding: 40px 30px 5px 30px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 10px 1px;
}

.sidebar-header {
  font-family: Poppins;
  font-size: 16px;
}

.nav-btn-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav-btn {
  width: 100%;
  padding: 10px 0px;
  padding-left: 20px;
  background-color: white;

  border: none;
  border-radius: 5px;

  text-align: start;
  font-size: 12px;
  font-family: Poppins-Light;

  transition-duration: 0.2s;
}

.nav-btn-active {
  background-color: var(--light-turqoise);
  color: whitesmoke;
}

.nav-btn:focus,
.nav-btn:hover {
  transition-duration: 0.2s;

  outline: none;
  background-color: var(--light-turqoise);
  color: white;
}

.main-section {
  padding: 20px 40px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 2fr 1fr;
}

.top-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#add-person-btn-icon {
  width: 25px;
  height: 25px;
}

#add-person-btn {
  width: fit-content;
  height: fit-content;

  outline: none;
  border: none;
  align-self: flex-end;
  margin-right: 24px;

  background-color: white;
  border-radius: 5px;
  padding: 10px 16px;

  transition-duration: 0.2s;
}

#add-person-btn:hover {
  transition-duration: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 10px 1px;
}

#add-project-btn {
  display: none;

  width: fit-content;
  height: fit-content;

  outline: none;
  border: none;
  align-self: flex-end;
  margin-right: 24px;

  background-color: white;
  border-radius: 5px;
  padding: 10px 16px;

  transition-duration: 0.2s;
}

#add-project-btn:hover {
  transition-duration: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 10px 1px;
}

/* add project add person modals */
#add-project-popover,
#add-person-popover {
  display: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--special-grey);

  padding: 40px 80px;

  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 10px 10px;
}

#add-project-popover :popover-open,
#add-person-popover :popover-open {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#add-project-popover form,
#add-person-popover form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border-radius: 4px;
  outline: none;
  border: 1px solid gray;

  padding: 5px 0px;
  max-width: fit-content;
}

.hero-header {
  color: lightcoral;
  font-size: 40px;
  font-family: Poppins-Light;
}

/* iframe */
#main-view {
  height: 90%;
  width: 100%;

  border: none;
}

#add-person-popover button,
#add-project-popover button {
  padding: 10px 0px;

  width: 100%;

  border: none;
  border-radius: 4px;

  background-color: lightblue;

  transition-duration: 0.2s;

  font-family: Poppins-Light;
}

#add-person-popover button:hover,
#add-project-popover button:hover {
  transition-duration: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 10px 1px;
}

input[type="submit"] {
  background-color: black;
  color: whitesmoke;

  font-family: Poppins;

  border: none;
  border-radius: 4px;

  padding: 10px 0px;

  width: 100%;

  transition-duration: 0.2s;
}

input[type="submit"]:hover {
  background-color: white;
  color: black;

  transition-duration: 0.2s;
  cursor: pointer;
}

.error-container {
  grid-row: 3;
  grid-column: 1;

  background-color: #f8f8f8;
  border-radius: 8px;

  padding: 10px 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 10px 1px;
}

.error-header {
  font-size: 16px;
  font-family: Poppins-Light;
  color: black;
}

.error-message {
  font-size: 12px;
  font-family: Poppins-Light;
  color: grey;
  line-height: 2;
}

.error-tab-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clear-error-btn {
  background-color: transparent;
  border: none;
  color: black;

  font-family: Poppins;
  font-size: 10px;
}

.clear-error-btn:hover {
  color: red;
  cursor: pointer;
}