@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Light";
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins-Thin";
  src: url(../fonts/Poppins-Thin.ttf);
}

body {
  letter-spacing: 1.5px;
}

body::-webkit-scrollbar {
  display: none;
}

.user-container {
  padding: 10px 0px;

  display: flex;
  flex-direction: column;

  font-family: Poppins-Light;
  font-size: 14px;

}

.user-row {
  background-color: white;
  padding: 20px;
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.user-row:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 10px 1px;
}